<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    <h1>Signin</h1>
    <form action="/signin" method="post">
    {% csrf_token %}    
        <label for="">User-Id :</label>
        <br>
        <input type="text" id="username" name="username" placeholder="Enter your username(only letters and numbers)"Required>
        <br>
        <br>
        <label for="">Password :</label>
        <br>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your password"Required>
        <br>
        <br>
        <button type="submit">Sign in</button>


    </form>
    
</body>
</html>